{% extends 'dashboard_app/web/base.html' %}
{% load static %}
<title>{% block title %}Exporter KML/KMZ{% endblock %}</title>

{% block content %}

{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show shadow-sm border-theme-white-2" role="alert">
        <div class="d-inline-flex justify-content-center align-items-center thumb-xs 
            {% if message.tags == 'success' %} bg-success
            {% elif message.tags == 'danger' %} bg-danger
            {% elif message.tags == 'warning' %} bg-warning
            {% elif message.tags == 'info' %} bg-purple
            {% else %} bg-secondary {% endif %} 
            rounded-circle mx-auto me-1">
            <i class="fas 
                {% if message.tags == 'success' %} fa-check
                {% elif message.tags == 'danger' %} fa-xmark
                {% elif message.tags == 'warning' %} fa-exclamation
                {% elif message.tags == 'info' %} fa-info
                {% else %} fa-info {% endif %}
                align-self-center mb-0 text-white"></i>
        </div>
        {{ message|safe }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
{% endif %}


<!-- Filter Form -->
<div class="card mb-4">
    <div class="card-body">
        <form method="get" action="">
            <div class="row g-3">
                <div class="col-12 col-md-3">
                    <label for="month" class="form-label">Mois:</label>
                    <select id="month" name="month" class="form-select">
                        <option value="">Choisir le mois</option>
                        {% for month in months %}
                        <option value="{{ month.value }}" {% if request.GET.month == month.value|stringformat:"s" %}selected{% endif %}>
                            {{ month.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-12 col-md-3">
                    <label for="year" class="form-label">Année:</label>
                    <select id="year" name="year" class="form-select">
                        <option value="">Choisir l'année</option>
                        {% for year in years %}
                        <option value="{{ year }}" {% if request.GET.year == year|stringformat:"s" %}selected{% endif %}>
                            {{ year }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-12 col-md-3">
                    <label for="archived" class="form-label">État:</label>
                    <select id="archived" name="archived" class="form-select">
                        <option value="">Tous les projets</option>
                        <option value="archived" {% if request.GET.archived == 'archived' %}selected{% endif %}>Archivé</option>
                        <option value="non_archived" {% if request.GET.archived == 'non_archived' %}selected{% endif %}>Non Archivé</option>
                    </select>
                </div>
                <div class="col-12 col-md-3 align-self-end">
                    <button type="submit" class="btn btn-primary w-100">Filtrer</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Project List -->
<div class="row">                        
    {% if page_obj.object_list %}
        {% for location in page_obj %}    
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <!-- Project Status -->
                    <div class="position-absolute top-0 end-0 mt-3 me-3 text-end">    
                        {% if location.archived %}
                            <span class="badge rounded-pill bg-transparent border border-danger text-danger p-1 d-block">
                                Statut : Archivé
                            </span>
                        {% else %}
                            <span class="badge rounded-pill border border-success text-success p-1 d-block">
                                Statut : Actif
                            </span>
                        {% endif %}
                    </div>

                    <!-- Project Details -->
                    <div class="text-center border-dashed-bottom pb-3">
                        <i class="iconoir-apple-shortcuts" style="font-size:70px;color:#224d2f;"></i>
                        <h5 class="fw-bold my-2 fs-20">{{ location.name }}</h5>
                        <p class="text-muted mt-3 mb-0">{{ location.description|truncatechars:100 }}</p>
                    </div>

                    <!-- Export Button -->
                    <div class="mt-3">
                                                
                        <!-- Button for exporting as KML -->
                        <form method="get" action="{% url 'generate-location-kml' location.id %}">
                            {% csrf_token %}
                            <button type="submit" name="export_format" value="kml" class="btn rounded-pill btn-outline-primary w-100 mb-2 d-flex align-items-center justify-content-center">
                                <img src="{% static 'assets/icons/kml.png' %}" alt="KML Icon" style="width: 30px; height: 30px; margin-right: 8px;">
                                Exporter en KML
                            </button>
                        </form>                            
                
                        <!-- Button for exporting as KMZ -->
                        <form method="get" action="{% url 'generate-location-kmz' location.id %}">
                            {% csrf_token %}
                            <button type="submit" name="export_format" value="kmz" class="btn rounded-pill btn-outline-secondary w-100 mb-2 d-flex align-items-center justify-content-center">
                                <img src="{% static 'assets/icons/kmz.png' %}" alt="KMZ Icon" style="width: 30px; height: 30px; margin-right: 8px;">
                                Exporter en KMZ
                            </button>
                        </form>

                    </div>
                    
                                  
                </div><!--end card-body-->  
            </div><!--end card-->                             
        </div><!--end col-->
        {% endfor %}
    {% else %}
        <p class="text-center">Aucun projet trouvé pour les critères de recherche.</p>
    {% endif %}
</div>

<!-- Pagination -->
<ul class="pagination justify-content-center mt-4">
    {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Précédent">
                <span aria-hidden="true">«</span>
            </a>
        </li>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <li class="page-item active">
                <a class="page-link" href="#">{{ num }}</a>
            </li>
        {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Suivant">
                <span aria-hidden="true">»</span>
            </a>
        </li>
    {% endif %}
</ul>

 <!-- Pied de page -->
 <footer class="footer text-center text-sm-start d-print-none">
    <div class="container-xxl">
        <div class="row">
            <div class="col-12">
                <div class="card mb-0 rounded-bottom-0">
                    <div class="card-body">
                        <p class="text-muted mb-0">
                            © <script> document.write(new Date().getFullYear()) </script> AfricanMaps
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Fin du pied de page -->


{% endblock content %}
